{% load static %}

<!doctype html>

<html lang="ja">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body>
    <h1>{{title}}</h1>
    <p>{{msg}}</p>
    

    <div class="container">
        <div class="row">
            <a href="{% url 'carender' %}" class="btn-border">車輌予約</a>
            <a href="{% url 'servicerecord' %}" class="btn-border">運行記録確認</a>
            <a href="{% url 'login' %}" class="btn-border">運行記録入力</a>
        </div>
    </div>
    
    <br>
    <div class="container">
        <div class=="row">
            <a href="{% url 'refuelrecord' %}" class="btn-border">給油記録確認</a>
            <a href="{% url 'etcrecord' %}" class="btn-border">ETC利用確認</a>
            <a href="{% url 'mentenance' %}" class="btn-border">メンテナンス予定</a>
        </div>
    </div>

    <br>
    <div class="container">
    <a href="{% url 'logout' %}" class="btn-border">ログアウト</a>
    </div>

    <br>
    <div class="container">
    <a href="/admin" class="btn-border">管理者画面へ</a>
    </div>

</body>
</html>
